:host{
    display: block;
    .container{
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .checkbox{
            position: absolute;
            opacity: 0;
            &:checked ~ .checkbox-span{
                background-color: green;
            }
        }

        &:hover{
            .checkbox ~ .checkbox-span{
                background-color: #ccc;
            }
        }
    }
    .checkbox-span{
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        &::after{
            left: 8px;
            top: 4px;
            width: 8px;
            height: 12px;
            border: solid white;
            border-width: 0 4px 4px 0;
            transform: rotate(45deg);
        }
    }
}