<div class="title">
  {{ post.title }}
</div>

<div class="content">
  <div class="likes">
    <app-like-checkbox
      class="like"
      [formControl]="likeControl"
    ></app-like-checkbox>

    {{ post.likesIds.length }}
    {{
      post.likesIds.length % 10 > 5 || post.likesIds.length === 0
        ? "отметок"
        : "отметка"
    }}
    "Нравится"
  </div>
  <div class="content-content">
    <div class="content-title">{{ post.title }}</div>
    <div class="content-text">{{ post.content }}</div>
  </div>
</div>

<div class="comments">
    <form [formGroup]="commentForm" (ngSubmit)="onSubmitForm()">
        <app-textarea formControlName="content"></app-textarea>
        <app-button type="submit">сохранить</app-button>
    </form>
    <ng-container *ngFor="let item of post.comments">

        <app-comment-card [commentId]="item"></app-comment-card>
    </ng-container>
</div>
