<div class="title">
  {{ post.title }}
</div>
<img class="img" [src]="imgLink" alt="img">
<div class="content">
 <app-like-card [likeId]="post.likesIds"></app-like-card>
  <div class="content-content">
    <div class="content-title">{{ post.title }}</div>
    <div class="content-text">{{ post.content }}</div>
  </div>
</div>

<div class="comments">
  коментарии
    <form class="comment-form" [formGroup]="commentForm" (ngSubmit)="onSubmitForm()">
        <app-textarea formControlName="content"></app-textarea>
        <app-button class="comment-form-button" type="submit">сохранить</app-button>
    </form>
  
    <ng-container *ngFor="let item of post.comments">
        <app-comment-card [commentId]="item" [postId]="post.id"></app-comment-card>
    </ng-container>
</div>
