:host {
  display: block;

  .button {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 10px 5px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}
