:host{
    display: block;

    .container{
        max-width: 640px;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    
        margin: 0 auto;

        background-color: #fff;

        border: 1px solid #c4c4c4;
        border-radius: 10px;
    }

    .table{
        td{
            padding: 10px;
        }
    }
}