:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;

  .input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    outline: none;
    resize: none;
  }

  .label {
    position: relative;
    &.required {
      &::before {
        content: "*";
        color: red;
        position: absolute;
        left: -10px;
      }
    }
  }
}
